.menu{
    margin: 0;
}

.common{
    width: 100%;
    height: 250px;
    position: relative;
    top: 65px;
     background: linear-gradient(rgba(0, 0, 0, 0.297), rgba(0, 0, 0, 0.564)),
    url("../images/common.jpg") no-repeat center center;
    padding: 100px 0px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}

.common h1{
    color: #fff !important;
}

.select{
    margin: 70px 0;

    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

select{
    width: 50%;
    border: 1px solid grey;
    outline: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
}

.select input{
    width: 30%;
    padding: 5px 9px;
    border: 1px solid #c1c1c1;
    outline: none;
    border-radius: 10px;
}


/* card */

#card-div .type__card{
    position: relative;
}
#card-div .type__card p{
    font-size: .8rem;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#card-div .type__card .type__card-price{
    font-size: 1.4rem !important;
    position: absolute;
    bottom: 0;
}